<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count Numbers</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/page-count.css">
</head>

<body>
    <div class="menu">
        <h1 class="page-title">Count Numbers Within A Range</h1>
        <form class="count" action="/getCount" method="POST">
            <label for="input-number">Insert a number</label>

            <% if(inputNumber){ %>
                <input id="input-number" class="input-number" type="number" name="inputNumber" value="<%= inputNumber%>"
                min="1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Number greater than 0'"
                placeholder="Number greater than 0">
            <% } else { %>
                <input id="input-number" class="input-number" type="number" name="inputNumber" min="1"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Number greater than 0'"
                placeholder="Number greater than 0">
            <% } %>

            <button class="run" type="submit">Test if the number is prime</button>

            <% if(result){ %>
            <p id="result"><%= result %></p>
            <% } else { %>
            <p id="result"><%= result %></p>
            <% } %>

        </form>
        <%- include("./partials/back") %>
        <%- include("./partials/madeby") %>    
    </div>
</body>

</html>