<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <div class="menu">
        <h1 class="page-title"><%= pageHeader %></h1>
        <form class="<%= formClass %>" action="<%= action %>" method="POST">

            <%- inputField %>
                
            <button class="run" type="submit"><%= buttonText %></button>

            <% if(result){ %>
                <p id="result"><%= result %></p>
            <% } else { %>
                <p id="result"></p>
            <% } %>

        </form>
        <a class="back" href="/">Choose another algorithm</a>
        <%- include("./partials/madeby") %>
    </div>
</body>
</html>