<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Sort</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/page-quickSort.css">
</head>

<body>
    <div class="menu">
        <h1 class="page-title">Sort an array using Quick Sort method</h1>
        <form class="quickSort" action="/getQuickSortedArray" method="POST">
            <label for="input-array">Insert a number</label>

            <% if(inputArray){ %>
                <input id="input-array" class="input-array" type="text" name="inputNumber" value="<%= inputArray %>"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Numbers separeted by comma'"
                placeholder="Numbers separeted by comma">
            <% } else { %>
                <input id="input-array" class="input-array" type="text" name="inputArray"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Numbers separeted by comma'"
                placeholder="Numbers separeted by comma">
            <% } %>

            <button class="run" type="submit">Sort the array</button>

            <% if(result){ %>
            <p id="result"><%= result %></p>
            <% } else { %>
            <p id="result"><%= result %></p>
            <% } %>

        </form>
        <%- include("./partials/back") %>
        <%- include("./partials/madeby") %>    
    </div>
</body>

</html>